* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;

}

.container {
    padding: 0 10%;

}

h1 {
    font-size: 40px;
}

.top-section {
    background-image: url("images/donation8.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.top {
    text-align: center;
    padding: 250px 0;
    color: #fff;
}

.top h1 {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 10px;
}

.top p {
    font-size: 18px;
    margin-bottom: 20px;
}

.top a {
    text-decoration: none;
    padding: 16px 20px;
    background: #FF5959;
    border-radius: 5px;
    color: #fff;

}

/* donate section */
.donate-today {
    text-align: center;
}

.donate-today h1 {
    font-size: 45px;
    font-weight: 700;
    padding: 5px 0;
}

.donate-today p {
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 18px;
}

.donate-taka {
    display: flex;
    padding: 26px 63px;
}

.taka {
    width: 20%;
}

.taka button {
    width: 100px;
    height: 80px;
    background-color: #FAFAFA;
    border-radius: 5px;
}
.donate-today .form input{
    border: none;
    width: 192px;
}
.donate-today hr{
    width: 60%;
    height: 2px;
    background-color: gray;
    margin: 0px auto;
}
.donate-today a{
    text-decoration: none;
    margin: 20px 0;
}
.donate-today a button{
    border: none;
    padding: 12px 10px;
    background: #FF5959;
    border-radius: 5px;
    color: #fff;

}
/* donate plan */
.plan-section{
    padding: 10px 0;
}
.donate-plan{
    text-align: center;
    padding: 10px 0;
}
.donate-plan h1{
    font-weight: 700;
   font-size: 45px;
   padding: 10px 0;

}
.donate-plan p{
    font-size: 16px;
    font-weight: 400;
}
.donate-items{
    display: flex;
    padding: 15px 10px;  
}
.items{
    width: 33.33%;
    padding: 20px 10px;
    margin-left: 10px;
}
#food{
    background-color: rgba(79, 157, 166, 0.1);
    padding: 10px;
}
#fmaily{
    background-color: rgba(255, 89, 89, 0.1);
}
#education{
    background-color: rgba(255, 189, 89, 0.1);
}
/* subscribe-sction */
.subscribe-section{
    padding: 15px 0;
    text-align: center;
}
.subscribe h1{
    font-size: 45px;
    font-weight: 700;
}
.subscribe p{
    font-size: 16px;
    padding: 15px 0;
}
.subscribe .form{
    background-color: #FFF4D6;
    padding: 50px 0;
    width: 50%;
    margin: 0 auto;
}
.subscribe .form input{
    width: 275px;
    padding: 10px 0;
    border: none;
    background-color: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    margin-right: 0;
}
.subscribe .form button{
    width: 140px;
    padding: 10px 0;
    border: none;
    background-color: 
    #FF5959;
    border-radius: 0px 5px 5px 0px;
}
/* contact-section */
.contact-section{
    padding: 10px 0;
    background-color: aquamarine;
    text-align: center;
}
.contact h1{
    font-size: 45px;
    font-weight: 700;
    padding: 15px 0;
}
.contact input{
    display: block;
    width: 200px;
    padding: 10px 6px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px auto;
}
.contact textarea{
    display: block;
    margin: 10px auto;
}
.contact a{
    text-decoration: none;
    color: #D9D9D9;
}
.contact button{
    padding: 10px 18px;
    background-color: #FF5959;
    border-radius: 8px;
    color: #FAFAFA;

}
/* footer-section */
.footer-section{
    background-color: #0B0D17;
    padding: 10px 0;
    text-align: center;
}
footer h3{
    font-weight: 400;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #FF5959;
    padding: 5px 0;
}
footer p{
    color: #FAFAFA;
    font-size: 16px;
}