* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;

}

.container {
    padding: 0 10%;

}

h1 {
    font-size: 40px;
}

.top-section {
    background-image: url("images/donation8.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.top {
    text-align: center;
    padding: 250px 0;
    color: #fff;
}

.top h1 {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 10px;
}

.top p {
    font-size: 18px;
    margin-bottom: 20px;
}

.top a {
    text-decoration: none;
    padding: 16px 20px;
    background: #FF5959;
    border-radius: 5px;
    color: #fff;

}

/* donate section */
.donate-today {
    text-align: center;
}

.donate-today h1 {
    font-size: 45px;
    font-weight: 700;
    padding: 5px 0;
}

.donate-today p {
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 18px;
}

.donate-taka {
    display: flex;
    padding: 26px 63px;
}

.taka {
    width: 20%;
}

.taka button {
    width: 100px;
    height: 80px;
    background-color: #FAFAFA;
    border-radius: 5px;
}
.donate-today .form input{
    border: none;
    width: 192px;
}
.donate-today hr{
    width: 60%;
    height: 2px;
    background-color: gray;
    margin: 0px auto;
}
.donate-today button{
    margin: 20px 0;
}
.donate-today button a {
    text-decoration: none;
    padding: 12px 10px;
    background: #FF5959;
    border-radius: 5px;
    color: #fff;

}
/* donate plan */
.plan-section{
    padding: 10px 0;
}
.donate-plan{
    text-align: center;
    padding: 10px 0;
}
.donate-plan h1{
    font-weight: 700;
   font-size: 45px;
   padding: 10px 0;

}
.donate-plan p{
    font-size: 16px;
    font-weight: 400;
}
.donate-items{
    display: flex;
    padding: 15px 10px;  
}
.items{
    width: 33.33%;
    padding: 20px 10px;
    margin-left: 10px;
}
#food{
    background-color: rgba(79, 157, 166, 0.1);
    padding: 10px;
}
#fmaily{
    background-color: rgba(255, 89, 89, 0.1);
}
#education{
    background-color: rgba(255, 189, 89, 0.1);
}